﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Controllers/zeszyt.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    
    <title>Index</title>

    <style>
        .btn a {
            color: white;
        }
            
        .panel-body {
            background:black;
            color:white;
            
        }
        .btn-success:hover{
            background:red;
            border-bottom-color:blue;
            border-right-color:blue;
            border-left-color:blue;
            border-top-color:blue;
        }
        .btn-success{
            background:black;
            border-bottom-color:blue;
            border-right-color:blue;
            border-left-color:blue;
            border-top-color:blue;
        }
        p {
            text-align:center;
            font-size:20px;
            color:white;
        }
        img {
            vertical-align:central;
            height:15em;
            width:25em;
            image-orientation:auto;
        }
        focus {
            position:relative;
            color:red;
            transition-duration:2s;
        }
            focus:hover {
                color:white;
        
            }
        
        

        
    </style>
</head>
<body >
    <div>
        <div class="text-center">

             
            <div class="panel panel-primary" >

                <div class="panel-heading">
                    Nawigacja
                </div>
                <div class="panel-body" >

                <div class="btn btn-success">
                    @Html.ActionLink("Logowanie", "Starts")  
                </div>

                <div class="btn btn-success">
                    @Html.ActionLink("Sekcja końcowa", "Sekcja")
                </div>

                <div class="btn btn-success">
                    @Html.ActionLink("Rejestracja", "Rejestracja")
                </div>

                <div class="btn btn-success">
                    @Html.ActionLink("Rezerwacja gwiazd", "StarShop")
                </div>

                
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                    @Html.ActionLink("Wyloguj", "LoggOff")
                        </button>
                
                    </div>
                

              </div>

        </div>
       
    </div>

    
    <br/>
    <br/>
    
        <div class="text-center">
            
           <focus> @ViewBag.Off
               </focus>
        </div>

    <br/>
    <br/>

    
    
    

</body>
</html>
