﻿@model WlasnaStrona.Models.Personalia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css"rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css"rel="stylesheet" />
    <link href="~/Controllers/zeszyt.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    
    <title>Starts</title>
    <style>
        p1 {
            color: red;
            font-size:25px;
            font-style:oblique;
            }
        p2 {
            color: white;
            font-size:20px;
            font-style:inherit;
            }

        div {
            text-align: center;
        }
        
        label {
            color:white;
        }
        p input {
            background:black;
            border-color:blue;
            color:white;
        }
        p input:hover {
            background:red;
            border-color:blue;
            color:white;
        }
        
        .form-control {
            background:black;
            border-color:blue;
            color:white;
        }
        .field-validation-error {
    color: #f00;
}
.field-validation-valid {
    color: none;
}
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
.validation-summary-errors {
    font-weight:bold;
    color: #f00;
}
.validation-summary-valid {
    display:none;
}
        
    </style>
</head>
<body>
    @using(@Html.BeginForm())
    {
        @Html.ValidationSummary()
        
    <div>

        <p2>Wprowadź login i hasło</p2>
        <br />
        

            <div class="form-group">

            <div class="text-center">
            <label>Login:</label></div>
            @Html.TextBoxFor(x => x.Login,new{@class="form-control"})

            </div>

            <div class="form-group">

            <div class="text-center">
            <label>Password:</label></div>
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })

            </div>

            <div class="form-group">

            <div class="text-center">
            <label>Repeat Password:</label></div>
            @Html.PasswordFor(x => x.RepeatPassword, new { @class = "form-control" })

            </div>
            
    </div>
      <div>
   <p> <input type="submit" value="Potwiedź" /></p>
        </div>
        
        
    }
</body>
</html>
