﻿@model WlasnaStrona.Models.Klasa

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Controllers/zeszyt.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Zalogowany</title>
    <style>
        p1 {
            color: white;
            text-align:center;
            font-style:initial;
        }
        
       
        .btn-success {
            text-align:center;
            color:white;
            background:black;
            border-color:blue;
          
        }
        .btn-success:hover{
            text-align:center;
            color:white;
            background:red;
            border-color:blue;
        }
        .form-control {
            text-align:center;
            color:white;
            background:black;
            border-color:blue;
        }
        p {
            color:white;
            font-size:17px;
            font-style:oblique;
            text-align:center;
            
        }
    </style>
</head>
    
<body >
    
    <div class="center">

        <p class="form-control">Twój login</p>
        <b><p class="text-center">@Model.Login</p></b>
        <p class="form-control">Twoje hasło</p>
        <b><p class="text-center">@Model.Password</p></b>

        <p class="center">@ViewBag.From</p>
        

    </div>

    <br />
    <br />

      <div class="text-center">
            <div class="btn btn-success">
            @Html.ActionLink("Ostatnia sekcja", "Sekcja")
            </div>
            <div class="btn btn-success">
              @Html.ActionLink("Strona główna","Index")
          </div>
       </div>
            
    
</body>
</html>
