﻿@model WlasnaStrona.Models.Klasa


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css"rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css"rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Controllers/zeszyt.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Sekcja</title>
    <style>
        
        .btn-success:hover{
            background:red;
            border-bottom-color:blue;
            border-right-color:blue;
            border-left-color:blue;
            border-top-color:blue;
        }
        .btn-success{
            background:black;
            border-bottom-color:blue;
            border-right-color:blue;
            border-left-color:blue;
            border-top-color:blue;
        }

        p {
            text-align:center;
            color: red;
            font-size:30px;
            font-style:italic;
        }

    </style>
</head>
<body >
    
        
        
    <div>
        <p>Strona w przebudowie</p>

        <div class="text-center">
            <div class="btn btn-success">
                    @Html.ActionLink("Index", "Index")
            </div>
        </div>

    </div>

    <div>
        @if(@Model!=null)
        {
        <h1>Twoj loggin: @Model.Login</h1>
        <br />
        <h1>Twoje haslo: @Model.Password</h1>
        }
        </div>
        
        <br />
   <table>
       <tr>
       <td class="col-md-12">
<div id="slider" class="carousel slide">
 
<ol class="carousel-indicators">
<li data-target="#slider" data-slide-to="0" class="active"></li>
<li data-target="#slider" data-slide-to="1"></li>
<li data-target="#slider" data-slide-to="2"></li>
</ol>
 
<div class="carousel-inner">
<div class="item active">
<img src="http://placehold.it/1280x500" alt="">
 
<div class="carousel-caption">
<h3>To jest opis</h3>
<p>pierwszego slajdu</p>
</div>
</div>
<div class="item">
<img src="http://placehold.it/1280x500" alt="">
 
<div class="carousel-caption">
<h3>To jest opis</h3>
<p>drugiego slajdu</p>
</div>
</div>
<div class="item">
<img src="http://placehold.it/1280x500" alt="">
 
<div class="carousel-caption">
<h3>To jest opis</h3>
<p>trzeciego slajdu</p>
</div>
</div>
</div>
 
<a class="left carousel-control" href="#slider" data-slide="prev">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#slider" data-slide="next">
<span class="icon-next"></span>
</a>
</div>
       <tr>

        </td>
       </table>
   
    
</body>
</html>
