﻿@model WlasnaStrona.Controllers.StarEntities

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Controllers/zeszyt.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>StarShop</title>
    <style>
        .tlo {
    background:black;
    color:white;
    width: 400px;
   margin-left: -200px;
   left:50%;
   position:relative;
   
}
        .btn a {
            color: white;
        }
            
        .panel-body {
            background:black;
            color:white;
            
        }
        .btn-success:hover{
            background:red;
            border-bottom-color:blue;
            border-right-color:blue;
            border-left-color:blue;
            border-top-color:blue;
        }
        .btn-success{
            background:black;
            border-bottom-color:blue;
            border-right-color:blue;
            border-left-color:blue;
            border-top-color:blue;
        }
        .btn {
                background-color:black;
            border-bottom-color:blue;
            border-right-color:blue;
            border-left-color:blue;
            border-top-color:blue;
            color:white;
        }
        .btn:hover {
                background-color:red;
            border-bottom-color:blue;
            border-right-color:blue;
            border-left-color:blue;
            border-top-color:blue;
            color:white;
        }
        input {
            background-color:black;
            color:white;
            border-bottom-color:blue;
            border-right-color:blue;
            border-left-color:blue;
            border-top-color:blue;
        }
        p {
            text-align:center;
            font-size:20px;
            color:white;
        }
        img {
            vertical-align:central;
            height:15em;
            width:25em;
            image-orientation:auto;
        }
        focus {
            position:relative;
            color:red;
            transition-duration:2s;
        }
            focus:hover {
                color:white;
        
            }
        h2 {
            color:White;
            font-size:14px;
        }
        h1 {
            color:red;
            font-size:17px;
            text-align:center;
        }
        h3 {
            color:darkblue;
            font-size:20px;  
        }
        img {
            vertical-align:central;
            height:15em;
            width:25em;
            image-orientation:auto;
        }
        .bg1 {
            background-image:url(image/bet.png);
          background-size:auto;
        }
    </style>
</head>
<body>
    
    <div class="text-center">
    <div class="btn btn-success">
    @Html.ActionLink("Index", "Index")
        </div>
        </div>

    @if (ViewBag.Potwierdzenie != null)
    {
        <h1>@ViewBag.Potwierdzenie</h1>
    }
    <div class="block-center">
        
        
            
        @foreach (var gwiazda in Model.Stars)
        {
            
            <div class="text-center tlo">
                <h3>@gwiazda.Nazwa</h3>
                <br />
                <img src="@gwiazda.ImgLink" class="img-thumbnail">
                <br />
                @gwiazda.Opis
                <br />
                
                   @if (@gwiazda.Rezerwacja != null)
                   {
                       <h2>Zarezerwował: @gwiazda.Rezerwacja</h2>
                   }
                else
                {
                       using (Html.BeginForm("Rezerwacja", "Home"))
                       {
                       @Html.Hidden("Nazwa",gwiazda.Nazwa)
                       
                       <div class="btn">
                    <input type="submit" value="Rezerwuj" />
                        </div>
                    
                       }
                   }
                

            </div>
            <br />
        }
        }
    </div>
</body>
</html>
