﻿body {
    background:black;
    background-image:url(image/andromeda.png);
    background-size:cover;  
}

#tlo {
   
            filter:alpha(opacity=0.5);
            opacity:0.5;
            -moz-opacity:0.5;
}

.field-validation-error {
    color: #f00;
}
.field-validation-valid {
    color: none;
}
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
.validation-summary-errors {
    font-weight:bold;
    color: #f00;
}
.validation-summary-valid {
    display:none;
}

.tlo {
    background:black;
    color:white;
}


